@import '../../variables.scss';

.NavButton{
    background-color: transparent;
    border-radius:4px;
    padding: 0 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $text-color;
    &>svg , &>div{
        color: $text-color;
        margin-right: 16px;
    }
}

.Active{
    background-color: $navbutton-background-color;
    color: $text-color-primary;

    svg{
        color: $text-color-primary;
    }
}