@import '../../variables.scss';
.Bold{
    font-weight: $glue-font-weight-bold;
}
.Text{
    letter-spacing: normal;
}

.ShortText{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    font-weight: $glue-font-weight-bold;
}