$nav-bar-width: 232px;
$glue-font-weight-normal: 400;
$glue-font-weight-bold: 700;
$glue-font-weight-black: 900;
$scrollbar-vertical-size: 16px;
$scrollbar-horizontal-size: 16px;
$topbar-width: 60px;
$mainview-background-color:#121212;
$navbutton-background-color:#282828;
