$nav-bar-width: 232px;
$glue-font-weight-normal: 400;
$glue-font-weight-bold: 700;
$glue-font-weight-black: 900;
$scrollbar-vertical-size: 16px;
$scrollbar-horizontal-size: 16px;
$topbar-width: 60px;
$mainview-background-color:#121212;
$navbutton-background-color:#282828;
$text-color-primary: #fff;
$text-color:#b3b3b3;



/*side bar variables*/
$left-sidebar-item-height: 32px;
$left-sidebar-padding-left: 24px;
$left-sidebar-padding-right: 24px;
$left-sidebar-item-pill-horizontal-padding: 7px;
$left-sidebar-item-indentation-width: 16px;
$left-sidebar-edit-input-height: 26px;
